<h1>What to do</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <h3><%= task.id %> - <%= link_to "#{task.title}", task_path(task) %></h3>
    <p>Completed:<%=task.completed %></p>
  </li>
  <% end %>
</ul>

<%= link_to 'create a new task', tasks_new_path %>

